SIMPLE_TAROT_ENV=
SIMPLE_TAROT_AWS_REGION=
SIMPLE_TAROT_MOBILE_CALLBACK_URL=
SIMPLE_TAROT_MOBILE_LOGOUT_URL=
SIMPLE_TAROT_WEB_CALLBACK_URL=
SIMPLE_TAROT_WEB_LOGOUT_URL=
SIMPLE_TAROT_COGNITO_DOMAIN_PREFIX=
