SIMPLE_TAROT_AWS_ACCOUNT=111111111111
SIMPLE_TAROT_AWS_REGION=us-east-1
SIMPLE_TAROT_DEPLOY_TRUSTED_PRINCIPAL_ARN_PATTERN=arn:aws:iam::111111111111:role/aws-reserved/sso.amazonaws.com/AWSReservedSSO_SimpleTarotDeploymentAccess_*
